@model IEnumerable<Capex.Models.Request>

@{
    ViewBag.Title = "Capex";
}

<h2 style="text-align:center;">Список заявок</h2>
<h4 style="text-align:center;"> @Html.ActionLink("Создать", "Create", null, htmlAttributes: new { @style = "color:#5CB85C; text-decoration:none" }) </h4>

@using (Html.BeginForm())
{
    <div class="filter">
        <div class="row" style="padding-top:18px; padding-left:5px; font-style:italic; padding-bottom:10px;">
            <div class="col-md-2">
                Состояние:
                @Html.DropDownList("State", null, htmlAttributes: new { @style = "width:180px; height:26px;" })               
            </div>
            <div class="col-md-2">
                Подразделение:
                @Html.DropDownList("Unit", null, htmlAttributes: new { @style = "width:180px; height:26px;" })
            </div>
            <div class="col-md-2">
                Дата от:
                @Html.TextBox("StartCreationDate", "{0:yyyy-MM-dd}", new { @style = "width:180px; height:26px;", type = "date" })
            </div>
            <div class="col-md-2">
                Дата до:
                @Html.TextBox("EndCreationDate", "{0:yyyy-MM-dd}", new { @style = "width:180px; height:26px;", type = "date" })
            </div> 
            <div class="col-md-2" style="text-align:left; padding-top:12px;">
                @*All
                <br/>
                @Html.CheckBox("AllRequesrts", new { @style = "width:40px; height:26px;" })*@
                <button name="action" value="filter" class="btn btn-success" style="width:170px; height:35px; border-radius:10px;">Фильтр</button>
            </div>    
           </div>        
      </div>       
}

@using (Html.BeginForm("ShowAll", "Requests"))
{
    <div class="col-md-2" style="text-align:right; padding-top:12px; padding-right:30px; float:right; margin-top:-57px;">
        <button name="allRequesrts" value="allRequesrts" class="btn btn-primary" style="width:170px; height:35px; border-radius:10px;">Показать все</button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("№ Заявки", "Index", new { SortRequest = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.RequestID)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.ActionLink("Дата создания", "Index", new { SortRequest = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.ActionLink("Стоимость", "Index", new { SortRequest = ViewBag.ValueSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LongDescription)
        </th>*@
<th>
    @Html.DisplayNameFor(model => model.State)
</th>
<th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.LongDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.RequestID }) |
            @Html.ActionLink("Просмотр", "Details", new { id = item.RequestID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.RequestID })*@
        </td>
    </tr>
}

</table>
